body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f14646;
}

.calculator {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #725858;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ca8d8d;
}
